.item-card-title img,
.item-ref img {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.item-card-title img:hover,
.item-ref img:hover {
    filter: invert();
}

#id-tool-min {
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    position: fixed;
    z-index: 100;
    right: 16px;
    bottom: 0;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 24, 52, 0.9);
    width: 200px;
    height: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    padding-left: 8px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
}

#id-tool {
    display: none;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    position: fixed;
    z-index: 100;
    right: 16px;
    bottom: 0;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 24, 52, 0.9);
    width: 200px;
    /* height: 80px; */

    flex-flow: column nowrap;
}

#id-tool p {
    font-size: small;
    padding: 2px;
}

#id-tool-menu-bar {
    width: 100%;
    height: 24px;
    padding-left: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    border-bottom: solid 1px rgba(255, 255, 255, 0.7);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
}

#id-tool-actions {
    flex: 1;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 2px;

    margin-top: 32px;
}

#id-tool-menu-selected-list li {
    font-size: x-small;
}

#id-tool-menu-selected-list li li {
    font-size: x-small;
}

#id-tool-menu-selected-list li li i {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    padding-left: 8px;
}

#id-tool-menu-selected-list li li i:hover {
    font-weight: 800;
}

#top-scroll-btn {
    position: absolute;
    bottom: 16px;
    right: 232px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
