/**
 * NAVIGATION POPUP
 */

@media only screen and (max-width: 850px) {
    /* For mobile phones: */

    .hidden-mobile,
    .join-game,
    .page-toc,
    #id-tool,
    #id-tool-min,
    .deco-bar-title,
    .page-sidecontent {
        display: none !important;
    }

    .mobile-sidebar {
        display: block;
    }

    #top-scroll-btn {
        right: 12px;
        opacity: 0.8;
        width: 28px;
        height: 28px;
    }

    .content {
        overflow-y: auto;
    }

    .content table {
        font-size: small;
    }

    .nav {
        width: 100vw;
        max-width: 100vw;
    }

    .nav-side-toggle input[type='checkbox']:checked + label + ul {
        /* reset the width when checkbox is checked */
        right: 0;
    }

    .pager-wrapper {
        /* display: block; */
        padding: 0 15px;
    }

    .smallContent {
        font-size: 0.3rem;
    }

    .nextPreviousTitle {
        font-size: 0.6rem;
    }

    ul.breadcrumb li {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1199px) {
    /* MEDIUM VIEW */

    .page-toc,
    #id-tool,
    #id-tool-min,
    .page-sidecontent {
        display: none;
    }

    .mobile-sidebar {
        display: block;
    }

    #top-scroll-btn {
        right: 24px;
    }
}

@media only screen and (min-width: 851px) {
    /* NOT SMALL VIEW */
    .toggle-nav-menu {
        display: none;
    }

    .nav-sidebar {
        height: calc(100vh - 80px);
        width: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }

    .nav-sidebar::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}
