.tooltip {
    position: relative;
    display: inline-block;
}

.reftip {
    position: relative;
    display: inline-block;
}

.tooltip .tool-tip-content {
    visibility: hidden;
    width: 160px;
    height: 40px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: calc(50% - 20px);
    right: 105%;

    font-size: small;

    opacity: 0;
    transition: opacity 200ms;
    transition-timing-function: ease-in;
    transition-delay: 500ms;
}

#id-tool .tooltip .tool-tip-content {
    top: unset;
    bottom: 100%;
    right: 0%;
}

.reftip .tool-tip-content {
    visibility: hidden;
    max-width: 750px;
    position: fixed;
    bottom: 0;
    left: 300px;

    border-radius: 6px;
    padding: 5px 0;
    margin-right: 20px;

    z-index: 1;

    opacity: 0;
    transition: opacity 200ms;
    transition-timing-function: ease-in;
    transition-delay: 500ms;
}

.tooltip.asset .tool-tip-content {
    top: unset;
    bottom: -40px;
    right: 50%;
}
