.tooltip, .reftip {
    position: relative;
    display: inline-block;
}

a.tooltip .tool-tip-content {
    visibility: hidden;
    width: 160px;
    height: 40px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: calc(50% - 20px);
    right: 105%;

    font-size: small;
}

#id-tool .tooltip .tool-tip-content {
    top: unset;
    bottom: calc(50% + 20px);
    right: 0%;
}

.item-ref .reftip .tool-tip-content {
    visibility: hidden;
    width: 360px;
    top: 100%;
    left: 0%;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: calc(50% - 20px);
    right: 105%;
}

.tooltip.asset .tool-tip-content {
    top: unset;
    bottom: -40px;
    right: 50%;
}

.tooltip:hover .tool-tip-content,
.reftip:hover .tool-tip-content {
    visibility: visible !important;
}
