<ul class='nav__list nav-sidebar'>
    {{#each this}}
        {{{navChild this}}}
    {{/each}}
    <hr />
    <li id='fav-0' class='fav'></li>
    <li id='fav-1' class='fav'></li>
    <li id='fav-2' class='fav'></li>
    <li id='fav-3' class='fav'></li>
    <li id='fav-4' class='fav'></li>
    <li id='fav-5' class='fav'></li>
    <li id='fav-6' class='fav'></li>
    <li id='fav-7' class='fav'></li>
    <li id='fav-8' class='fav'></li>
    <li id='fav-9' class='fav'></li>
</ul>