<ul class='nav__list nav-sidebar'>

    <li id='fav-0' class='fav'></li>
    <li id='fav-1' class='fav'></li>
    <li id='fav-2' class='fav'></li>
    <li id='fav-3' class='fav'></li>
    <li id='fav-4' class='fav'></li>
    <li id='fav-5' class='fav'></li>
    <li id='fav-6' class='fav'></li>
    <li id='fav-7' class='fav'></li>
    <li id='fav-8' class='fav'></li>
    <li id='fav-9' class='fav'></li>
    <hr />
    {{#each this}}
        {{{navChild this}}}
    {{/each}}
    <hr />
    <li class='external'>
        <label>
            <a href='https://character.dozen-dragons.com/'><i class="fa fa-external-link"></i> Character Manager</a>
        </label>
    </li>
</ul>